biopandas>=0.5.1
biopython>=1.87
lxml>=6.1.0
matplotlib>=3.10.9
matplotlib-venn>=1.1.2
numpy>=2.4.4
openpyxl>=3.1.5
pandas>=3.0.3
pyarrow>=24.0.0
pydantic>=2.13.4
pyteomics[xml]==4.7.5
requests>=2.34.1
tqdm>=4.67.3
